version: 2.1

executors:
  build-executor:
    docker:
      - image: cimg/node:lts

commands:
  checkout_and_cache:
    steps:
      - run:
      name: Force Git to use HTTPS instead of SSH
      command: git config --global url."https://github.com/".insteadOf "git@github.com:"
      - checkout
      - restore_cache: # special step to restore the dependency cache
          # Read about caching dependencies: https://circleci.com/docs/2.0/caching/
          name: Restore NPM Package Cache
          keys:
            - npm-packages-{{ checksum "package-lock.json" }}
      - run:
          name: Install Dependencies
          command: npm ci
      - save_cache: # special step to save the dependency cache
          name: Save npm Package Cache
          key: npm-packages-{{ checksum "package-lock.json" }}
          paths:
            - ~/.cache/npm

jobs:
  test_and_build:
    executor: build-executor
    steps:
      - checkout_and_cache
      - run: npm run validate

workflows:
  version: 2
  test_and_build:
    jobs:
      - test_and_build
