export interface RawDesignTokens {
  colors: RawColorDesignTokens;
  typography: RawTypographyDesignTokens;
  spacing: RawSpacingDesignTokens;
}

export interface RawColorToken {
  hsl: string;
  h: number;
  s: number;
  l: number;
}

export interface RawTypographyToken {
  fontFamily: string;
  fontSize: ValueUnit;
  lineHeight: ValueUnit;
  fontWeight: number;
}

export interface ValueUnit {
  value: number | string;
  unit: string | null;
}
